<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <!-- Bootstrap CSS -->
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.debug.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <style>

  </style>
  <title>Random Data Generator</title>

</head>

<body>
  <!-- Head -->
  <div class="head">
    <h1>Random Data Generator</h1>
  </div>
  <!-- Head -->

  <form id="myForm" action=" " method="post">
    {% csrf_token %}
    <!-- Field Table -->
    <div class="container upperbox" style="width:1200px; border-radius:5px; padding: 10px;">
      <div class="col-12">
        <table class="myTable" id="dataTable">
          <thead>
            <tr>
              <th></th>
              <th>Feild Nmae</th>
              <th style="min-width: 200px;">Feild Type</th>
              <th style="min-width: 200px;">Can be empty ?</th>
              <th style="min-width: 200px;">Options</th>
              <th style="min-width: 200px;">Actions</th>
            </tr>
          </thead>
          <tbody data-bind="template:{name:'tableRow', foreach: tableRows}">
          </tbody>
          
        </table>
      </div>
    </div>
    <!-- Field Table -->

    <!-- Lower Table -->
    <div class="container upperbox" style="width:1200px; border-radius:5px; padding: 10px;">
      <h5>Generation Options</h5>
      <table class="table">
        <thead>
          <tr>
            <th>
              <label for="fname">Number of rows:</label>
              <input type="text" id="fname" name="fname" size="4" placeholder="00000"><br>
            </th>
            <th>
              <label for="format">Export Format:</label>
              <select name="fileExport">
                <option value="CSV">CSV</option>
                <option value="JSON">JSON</option>
                <option value="TSV">Tab Delimited</option>
                <option value="Excel">Excel</option>
                <option value="XML">XML</option>
                <option value="SQL">SQL</option>
              </select>
            </th>
            <th>
              <label for="fname">Line ending Style:</label>
              <select name="l_ending_style">
                <option value="Unix(LF)">Unix(LF)</option>
                <option value="Windows(CRLF)">Windows(CRLF)</option>

              </select>
            </th>
            <th>
              <input type="submit" value="Preview" id="previewbutton" class="btn btn-primary" name="button"
                alt="#TB_inline?width=400&height=250&inlineId=mailpreview&modal=true" style="color: white;">
              <button type="submit" value="download" id="downloadbutton" class="btn btn-primary" name="button"
                alt="#TB_inline?width=400&height=250&inlineId=mailpreview&modal=true">Download</button>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <!-- Lower Table -->


  </form>

  <div id="myModal" class="modal" style="display:{{popup}};">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Random data preview</h4>
          <button type="button" class="btn btn-outline-dark" id="crossbtn" data-dismiss="modal">&times;</button>
        </div>
        <div style="height: 450px; overflow: scroll; ">
          <div class="table" style="width: 50%;margin:10px; text-align: center; ">
            {% autoescape off %}{{ table_content }}{% endautoescape %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closebutton" class="btn btn-danger" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="nomyModal" class="modal" style="display:{{nodata}};">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Message</h5>
        </div>
        <h6 style="text-align: center; padding: 5px;">No field was filled !!!</h6>
        <div class="modal-footer">
          <button type="button" id="noclosebutton" class="btn btn-danger" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    
    <script id="tableRow" type="text/html">
      <tr>
        <td><i class="fa fa-navicon"></i></td>
        <td>
          <input type="text" class="target" name="fieldName" size="27px" placeholder="Feild Name" data-bind="value: number, valueUpdate: 'keyup'" />
        </td>
        <td>
          <select name="fieldType">
            <option value="None">-----</option>
            <option value="GUID">GUID</option>
            <option value="Row Number">Row Number</option>
            <option value="First Name">First Name</option>
            <option value="Last Name">Last Name</option>
            <option value="Full Name">Full Name</option>
            <option value="First Name(male)">First Name(male)</option>
            <option value="First Name(female)">First Name(female)</option>
            <option value="Email">Email</option>
            <option value="Username">Username</option>
            <option value="Comapny Name">Comapny Name</option>
            <option value="Ip address">Ip address</option>
            <option value="Job Title">Job Title</option>
            <option value="Language">Language</option>
            <option value="Programming Language">Programming Language</option>
            <option value="Currency">Currency</option>
            <option value="Currency Symbol">Currency Symbol</option>
            <option value="Number">Number</option>
            <option value="Domain Name">Domain Name</option>
            <option value="Gender">Gender</option>
            <option value="Other">Other</option>
          </select>
        </td>
        <td><input class='testName' type='checkbox' value='Yes' name='Empty'>
          <input class='testNameHidden' type='hidden' value='No' name='Empty'>
        </td>
        <td>
          <p style="font-size: xx-small;">can be empty<input type="text" name="valEmpty" size="2"
              style="font-size: 12px;">% of the
            time</p>
        </td>

        <td><span id="deleteicon"><i class="fa fa-trash"  style="color: red;"></i></span></td>

      </tr>
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
 
    <script>
      function tableRow(number, ownerViewModel) {
        this.number = ko.observable(number);
        this.remove = function() {
          ownerViewModel.tableRows.destroy(this);
        }
      }

      function tableRowsViewModel() {
        var that = this;
        this.tableRows = ko.observableArray([]);
        this.addNewRow = function() {
          this.tableRows.push(new tableRow('', that));
        }
        this.addNewRow();

    //dependentObservable to represent the last row's value
    this.lastRowValue = ko.dependentObservable(function() {
     var rows = that.tableRows();
     return rows.length ? rows[rows.length - 1].number() : null; 
   });
    
    //subscribe to changes to the last row
    this.lastRowValue.subscribe(function(newValue) {
      if (newValue) {
       that.tableRows.push(new tableRow('', that));
     }
   });
  }

    $(document).ready(function() {
      ko.applyBindings(new tableRowsViewModel());
    });
  </script>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="{% static 'js/project.js'%}"></script>


</body>
</html>